* {
    margin: 0;
    padding: 0;
}

#whole-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    font-family: "Roboto", system-ui;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
}

.header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    align-self: flex-end;
}

.header li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}